<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>蓝源Eloan-P2P平台</title>
    <link rel="stylesheet" href="/js/bootstrap-3.3.2-dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/core.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap-3.3.2-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery-validation/localization/messages_zh.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.form.js"></script>
    <script type="text/javascript" src="/js/jquery.bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>

    <script type="text/javascript" src="/js/plugins/jquery.form.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/account.css" />
</head>

<body>
<div id="app">
<div class="el-header">
    <div class="container" style="position: relative;">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/index.html">首页</a></li>
            <li><a href="/login.html">登录</a></li>
            <li><a href="/register.html">快速注册</a></li>
            <li><a class="el-current-user" href="/personal.html">
                {{loginInfo.username}}</a></li>
            <li><a href="/recharge.html"> 账户充值 </a></li>
            <li><a id="logout" href="javascript:void(0);"> 注销 </a></li>
            <li><a href="#">帮助</a></li>
        </ul>
    </div>
</div>
    <div class="navbar navbar-default el-navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="/">
                    <img alt="Brand" src="/images/logo.png">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li id="index"><a href="/personal.html">首页</a></li>
                <li id="invest"><a href="/invest.html">我要投资</a></li>
                <li id="borrow"><a href="/borrow.html">我要借款</a></li>
                <li id="account"><a href="/personal.html">个人中心</a></li>
                <li><a href="#">新手指引</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
        </div>
    </div>
<div class="container">
    <div class="row">
        <!--导航菜单-->
        <div class="col-sm-3">
            <ul id="menu" class="list-group">
                <li class="list-group-item">
                    <a href="javascript:;"><span>借贷项目</span></a>
                    <ul>
                        <li name="bid"><a href="/bid_list.html"><span>投标项目</span></a></li>
                        <li name="receive"><a href="/callbackmoney_list.html"><span>收款明细</span></a></li>
                        <li name="bidRequest"><a href="/borrow_list.html"><span>借款项目</span></a></li>
                        <li name="borrowBidReturn"><a href="/borrowBidReturn_list.html"><span>还款明细</span></a></li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <a href="#"><span class="text-title">我的账户</span></a>
                    <ul class="in">
                        <li name="account"><a href="/personal.html">账户信息</a></li>
                        <li name="realAuth"><a href="/realAuth_result.html">实名认证</a></li>
                        <li name="userFile"><a href="/userFile.html">风控资料认证</a></li>
                        <li name="bankInfo"><a href="#">银行卡管理</a></li>
                        <li name="iplog"><a href="/iplog.html">登录记录</a></li>
                        <li name="userInfo"><a href="/basicInfo.html"> <span>个人资料</span></a></li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <a href="#"><span>资产详情</span></a>
                    <ul class="in">
                        <li name="accountFlow_list"><a href="">账户流水</a></li>
                        <li name="recharge"><a href="#">充值明细</a></li>
                        <li name="moneyWithdraw"><a href="#">提现申请</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 功能页面 -->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body el-account">
                    <div class="el-account-info">
                        <div class="pull-left el-head-img">
                            <img class="icon" src="images/person_icon.png" />
                        </div>
                        <div class="pull-left el-head">
                            <p>用户名：{{loginInfo.username}}</p>
                            <p>最后登录时间：2018-12-25 15:30:10</p>
                        </div>
                        <div class="pull-left" style="text-align: center;width: 400px;margin:30px auto 0px auto;">
                            <a class="btn btn-primary btn-lg" href="/recharge.html">账户充值</a>
                            <a class="btn btn-danger btn-lg" href="#">账户提现</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row h4 account-info">
                        <div class="col-sm-4">
                            账户总额：<span class="text-primary">{{account.totalAmount}}元</span>
                        </div>
                        <div class="col-sm-4">
                            可用金额：<span class="text-primary">{{account.usableAmount}}元</span>
                        </div>
                        <div class="col-sm-4">
                            冻结金额：<span class="text-primary">{{account.freezedAmount}}元</span>
                        </div>
                    </div>

                    <div class="row h4 account-info">
                        <div class="col-sm-4">
                            待收利息：<span class="text-primary">{{account.unReceiveInterest}}元</span>
                        </div>
                        <div class="col-sm-4">
                            待收本金：<span class="text-primary">{{account.unReceivePrincipal}}元</span>
                        </div>
                        <div class="col-sm-4">
                            待还本息：<span class="text-primary">{{account.unReturnAmount}}元</span>
                        </div>
                    </div>

                    <div class="el-account-info top-margin">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="el-accoun-auth">
                                    <div class="el-accoun-auth-left">
                                        <img src="images/shiming.png" />
                                    </div>
                                    <div class="el-accoun-auth-right">
                                        <h5>实名认证</h5>
                                            <p v-if="isRealAuth">
                                                已认证
                                                <a href="/realAuth.html">查看</a>
                                            </p>
                                            <p v-if="!isRealAuth">
                                                未认证
                                                <a href="/realAuth.html">马上认证</a>
                                            </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="info">实名认证之后才能在平台投资</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="el-accoun-auth">
                                    <div class="el-accoun-auth-left">
                                        <img src="images/shouji.jpg" />
                                    </div>
                                    <div class="el-accoun-auth-right">
                                        <h5>手机认证</h5>
                                            <p v-if="userInfo.isBindPhone">
                                                已认证
                                                <a href="#">查看</a>
                                            </p>
                                            <p v-if="!userInfo.isBindPhone">
                                                未认证
                                                <a @click="showPhoneModal" href="javascript:;">立刻绑定</a>
                                            </p>
                                        </#if>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="info">可以收到系统操作信息,并增加使用安全性</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="el-accoun-auth">
                                    <div class="el-accoun-auth-left">
                                        <img src="images/youxiang.jpg" />
                                    </div>
                                    <div class="el-accoun-auth-right">
                                        <h5>邮箱认证</h5>
                                            <p v-if="userInfo.isBindEmail">
                                                已认证
                                                <a href="#">查看</a>
                                            </p>
                                            <p v-if="!userInfo.isBindEmail">
                                                未认证
                                                <a id="goto_bindemail" href="javascript:;">立刻绑定</a>
                                            </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="info">您可以设置邮箱来接收重要信息</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="el-accoun-auth">
                                    <div class="el-accoun-auth-left">
                                        <img src="images/baozhan.jpg" />
                                    </div>
                                    <div class="el-accoun-auth-right">
                                        <h5>VIP会员</h5>
                                        <p>
                                            普通用户
                                            <a href="#">查看</a>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="info">VIP会员，让你更快捷的投资</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="bindPhoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">绑定手机</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="bindForm">
                        <div class="form-group">
                            <label for="phoneNumber" class="col-sm-2 control-label">手机号:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="phoneNumber" v-model="smMsgVo.phone" />
                                <button @click="sendVerifyCode" class="btn btn-primary" v-bind:disabled="sendCodeEnable" type="button" v-text="sendCodeText">发送验证码</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="verifyCode" class="col-sm-2 control-label">验证码:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="verifyCode" v-model="smMsgVo.verifyCode" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="bindPhone">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bindEmailModal" tabindex="-1" role="dialog" aria-labelledby="bindEmailModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="bindEmailModalLabel">绑定邮箱</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="bindEmailForm">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">邮箱地址:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="email" v-model="email" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="bindEmail">发送验证邮件</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-foot-2">
        <div class="context">
            <div class="left">
                <p>版权所有：&emsp;2018xxx科技有限公司</p>
                <p>地&emsp;&emsp;址：&emsp;上海市奉贤区xxx街道xx号</p>
                <p>电&emsp;&emsp;话： 021-xxxxxx&emsp;&emsp;
                    邮箱：&emsp;xxx@163.com</p>
                <p>
                    <a href="http://www.baidu.com" style="color: #ffffff">ICP备案
                        ：沪ICP备字521</a>
                </p>
            </div>
            <div class="right">
                <a target="_blank" href="https://www.infoq.cn/"><img
                        src="/images/sina.png"></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script>

    $(function () {
        $("#goto_bindemail").click(function () {
            $("#bindEmailModal").modal("show");
        });
//        $("#goto_bindphone").click(function () {
//            $("#bindPhoneModal").modal("show");
//        });
    });
    function displayPhoneModel() {
        $("#bindPhoneModal").modal("show");
    }
    function closeEmailModel() {
        $("#bindEmailModal").modal("hide");
    }
    function closePhoneModel() {
        $("#bindPhoneModal").modal("hide");
    }

    axios.defaults.withCredentials = true;
    axios.defaults.baseURL = "http://localhost:20000";
    Vue.prototype.$http = axios;
    //加载数据
    var vue = new Vue({
       el:"#app",
        data:{
           loginInfo:{},
            account:{usableAmount:2000},
            userInfo:{isBindPhone:true},
            email:"",
            smMsgVo:{
               phone:"",
                verifyCode:"",
                userId:""
            },
            sendCodeText:"发送验证码",
            codeTextSecond:6,
            sendCodeEnable:false
        },
        methods:{
           //展示手机验证码输入界面
            showPhoneModal:function () {
                displayPhoneModel();
            },
           //发送验证码
            sendVerifyCode:function () {
                var sendCodeTimer = window.setInterval(function () {
                    vue.codeTextSecond--;
                    vue.sendCodeText = vue.codeTextSecond+"秒后重新发送";
                    if (vue.codeTextSecond == 0){
                        //取消倒计时
                        window.clearInterval(sendCodeTimer);
                        vue.codeTextSecond = 6;
                        vue.sendCodeEnable = false;
                        vue.sendCodeText = "发送验证码";
                    }
                },1000);
                axios.post("/userservice/phone/send_code",Qs.stringify(vue.smMsgVo))
                    .then(function (resp) {
                        if (resp.data.code == 0){
                            alert("短信验证码发送成功！");

                            //前台发送按钮，需要倒计时
                            vue.sendCodeEnable = true;
                            sendCodeTimer();
                        }
                    })
            },
            //校验验证码
            checkVerifyCode:function () {
                axios.post("/userservice/phone/check_code",Qs.stringify(vue.smMsgVo))
                    .then(function (resp) {
                        if (resp.data.code == 0){
                            alert("短信验证码发送成功！");
                            closePhoneModel();//关闭模态框
                            location.reload();//刷新当前页面
                        }
                    })
            },
           //激活邮件
            bindEmail:function () {
                var params = {loginInfoId:vue.loginInfo.id,email:vue.email};
                axios.post(
                    "userservice/email/send_active",
                    Qs.stringify(params)
                ).then(function (resp) {
                    if (resp.data.code == 0){
                        alert("邮件发送成功！");
                        closeEmailModel();
                    }
                })
            },
            initData:function () {

            }
        },
        created:function () {
            var _this = this;
            axios({  //ajax提交
                url:"/userservice/user/getLoginInfo", //请求的url路径
                method:"GET"//请求方式
            }).then(function (resp) {
                var resultVo = resp.data;//resultVo  {code，msg，data}
                if (resultVo.code == 0){ //根据状态码判断
                    _this.loginInfo = resultVo.data;
                    vue.loginInfo = resultVo.data;
                    console.log(_this.loginInfo);
                    if (vue.loginInfo == null){
                        location.href = "/login.html";
                    }
                    //更新当前的userId
                    vue.smMsgVo.userId = vue.loginInfo.id;
                    axios({
                        url:"/accountservice/account/"+_this.loginInfo.id,  //用登录用户的id拼接新的路径
                        method:"GET"
                    }).then(function (r) {
                        _this.account = r.data.data;
                        console.log(_this.loginInfo);
                    });
                    axios({
                        url:"/accountservice/user/getUserInfo/"+_this.loginInfo.id,
                        method:"GET"
                    }).then(function (r) {
                        _this.userInfo = r.data.data;
                        console.log(_this.userInfo);
                    });
                }else {
                    alert(resultVo.msg);
                    location.href = "/login.html";
                }
            });
        }
    });
</script>
</html>